html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#form-card {
    margin: 0px;
}

#message-pane {
    background-image: url(https://www.colourbox.com/preview/7612473-colorful-space-shot-of-milky-way-galaxy-with-stars-and-space-dust.jpg);
    background-repeat: no-repeat;
}

.material-icons {
    font-size: 40px !important;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Courier';
    opacity: 0.75;
}

.message-time {
    margin-top: 4px;
    float: right;
    font-size: 10px;
    color: #ff0019;
    font-family: 'Times New Roman';
}